.notFoundContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notFound {
    color: black;
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;
}